@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Textos */

.texto-normal {
   font-family: 'DM Sans';
   color: #1e252e;
   font-weight: normal;
   
}

.sobtitulo {
  font-family: 'Questrial', serif !important;  
  color: #ea580c;
  font-weight: 400;
}

.botoes {
    font-family: 'Questrial', sans-serif;
}

.titulo {
        font-weight: bold;
    font-family: 'Arial', 'sans-serif';
}

/* Componentes de Tela */

body {
    background-color: #f3f4f6;
}

header {
    background-color: #f97316;
    background-image: url('/images/01-Background-Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#footer-bg-img {
    background-color: #f97316;
    background-image: url('/images/02-Background-Footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#footer-bottom {
    background-color: #f97316;
    color: #f3f4f6;
    font-weight: bold;
       font-family: 'DM Sans';
}

/* Galeria */

.galeria-bg-img {
    background-image: url('/images/02-Background-Footer.png');
}

.galeria-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeria-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* Componentes */

.bt, .bt-branco, .bt-laranja {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
}

.bt-branco {
    color: #f3f4f6;
    border: 2px solid #f97316;
        background-color: #f97316;


}

.bt-laranja {
    color: #f97316;
    border: 2px solid #f97316;

}

/* Outros Componentes


.galeria-img-servicos {
    border: 2px solid black;
    justify-items: center;
}

.galeria-img-servicos img {
    height: 100%;
    border: 2px solid black;
    width: 100%;
    object-fit: cover;
}
.galeria-img-full{
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: baseline;    
    align-items: center;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}
.galeria-img-metade{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: baseline;
    align-items: center;
    border: 2px solid black;
        width: 100%;
        height: 100%;

}

.texto-galeria-servicos {
    background-color: #f97316;
    font-family: Arial, Helvetica, sans-serif;
    color:#f3f4f6;
    font-weight: bold;
    text-align: center;
    width: 100%;
}  */